body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('opiskelijakortti_digi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Wrapper jota liikutetaan */
.marker{
  position: absolute;
  top: 10.57cm;   /* tätä pienennät jos haluat ylöspäin */
  right: 0.55cm;  /* tätä muutat jos haluat vasen/oikea */
  width: 3.03cm;
  height: 3.03cm;
  display: grid;
  place-items: center;
}

/* Pulssiympyrä */
.pulse{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #95b37c;
  animation: pulse 3s ease-in-out infinite;
}

/* Sisempi kuva */
.icon{
  position: absolute;
  width: 1.53cm;
  height: 1.53cm;
  animation: pulse2 3s ease-in-out infinite;
}

@keyframes pulse {
  0%   { transform: scale(0.4); opacity: 0; }
  50%  { transform: scale(1);   opacity: 1; }
  100% { transform: scale(0.4); opacity: 0; }
}

@keyframes pulse2 {
  0%   { transform: scale(1);   opacity: 1; }
  50%  { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1);   opacity: 1; }
}

